<div fxFlex fxLayout="column" fxLayoutAlign="center center">
  <!-- header of the detail, changes text according to usecase -->
  <div *ngIf="usecase === detailUsecase.adminRead ||usecase === detailUsecase.userRead">
    <h2>Details of the Artwork {{artworkId}}</h2>
  </div>
  <div *ngIf="usecase === detailUsecase.adminCreate">
    <h2>Add a New Piece of Artwork</h2>
  </div>
  <div *ngIf="usecase === detailUsecase.adminUpdate">
    <h2>Update Artwork {{artworkId}}</h2>
  </div>

  <!-- ~~~~~~~~~~~~~~~~~ form of the details ~~~~~~~~~~~~~~~~~~ -->
  <div>
    <form fxFlex fxLayout="column" fxLayoutAlign="center start"
      [formGroup]="artworkForm" (ngSubmit)="onSubmit()">
      <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <mat-form-field fxFlex="75">
          <mat-label>title</mat-label>
          <input matInput formControlName="title">
  <!--        <mat-hint>Please enter the title of the artwork.</mat-hint>-->
          <mat-error>Missing artwork title!</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="25">
          <mat-label>art form</mat-label>
          <mat-select formControlName="artForm">
            <mat-option *ngFor="let artformOption of artFormOptions" [value]="artformOption">
              {{artformOption}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>artist</mat-label>
        <input matInput formControlName="artist">
      </mat-form-field>

      <mat-form-field>
        <mat-label>description</mat-label>
        <textarea matInput placeholder="description of the artwork"
               formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>storage location</mat-label>
        <input matInput placeholder="The exact location where the artwork is stored."
                  formControlName="storageLocation">
      </mat-form-field>

      <mat-form-field>
        <mat-label>producer</mat-label>
        <input matInput formControlName="producer">
      </mat-form-field>

      <mat-form-field>
        <mat-label>product serial number</mat-label>
        <input matInput formControlName="productSerialNumber">
      </mat-form-field>

      <div class="row">
        <mat-form-field>
          <mat-label>date obtained</mat-label>
          <input matInput formControlName="dateObtained">
        </mat-form-field>

        <mat-form-field>
          <mat-label>market value</mat-label>
          <input matInput formControlName="marketValue">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field fxFlex="30">
          <mat-label>status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let statusOption of statusOptions" [value]="statusOption">
              {{statusOption}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="70">
          <mat-label>next available date</mat-label>
          <input matInput formControlName="nextAvailableDate">
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>comment</mat-label>
        <textarea matInput placeholder="administrative comment of the artwork"
                  formControlName="comment"></textarea>
      </mat-form-field>
    </form>
  </div>

  <div>
    <ng-container *ngIf="usecase === detailUsecase.adminRead">
      <button mat-icon-button (click)="onEdit()">
        <mat-icon color="accent">edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </ng-container>
  </div>

</div>
