.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 -10px;
  width: 100%;

  mat-form-field {
    margin: 0 10px;
  }
}

mat-form-field {
  width: 100%;
}

.detailImage {
  width: 100%;
  height: auto;
  //padding: 15px;
}

.detailTextBlock {
  width: 100%;
  padding: 20px;
}

.long-text {
  max-height: 200px;
}

.uneditable {
  color: grey;
}
