<div fxFlex fxLayout fxLayoutAlign="start start">
  <!-- image container -->
  <div fxFlex="40" fxLayout="column" fxLayoutGap="25px">
    <div *ngIf="artworkForm.get('imageUrls')">
      <ng-container *ngFor="let imageUrl of getImageUrlCtrls(); let i = index">
      <img [src]="imageUrl.value" alt="Picture {{i + 1}} of {{artworkForm.get('title')?.value}}"
           class="detailImage">
      </ng-container>
    </div>
  </div>

  <!-- detail text container ---->
  <div fxFlex="60" fxLayout="column" fxLayoutAlign="center center">
    <!-- header of the detail, changes text according to usecase -->
    <div *ngIf="usecase === detailUsecase.adminRead ||usecase === detailUsecase.userRead">
      <h2>Details of the Artwork {{artworkId}}</h2>
    </div>
    <div *ngIf="usecase === detailUsecase.adminCreate">
      <h2>Add a New Piece of Artwork</h2>
    </div>
    <div *ngIf="usecase === detailUsecase.adminUpdate">
      <h2>Update Artwork {{artworkId}}</h2>
    </div>

    <!-- ~~~~~~~~~~~~~~~~~ form of the details ~~~~~~~~~~~~~~~~~~ -->
    <div class="detailTextBlock">
      <form fxFlex fxLayout="column" fxLayoutAlign="center start"
        [formGroup]="artworkForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <mat-form-field fxFlex="75">
            <mat-label>title</mat-label>
            <input matInput formControlName="title">
    <!--        <mat-hint>Please enter the title of the artwork.</mat-hint>-->
            <mat-error>Missing artwork title!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="25">
            <mat-label>art form</mat-label>
            <mat-select formControlName="artForm">
              <mat-option *ngFor="let artformOption of artFormOptions" [value]="artformOption">
                {{artformOption}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>artist</mat-label>
          <input matInput formControlName="artist">
        </mat-form-field>

        <mat-form-field>
          <mat-label>description</mat-label>
          <textarea class="long-text"
                    matInput placeholder="description of the artwork"
                    formControlName="description">
          </textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>storage location</mat-label>
          <input matInput placeholder="The exact location where the artwork is stored."
                    formControlName="storageLocation">
        </mat-form-field>

        <mat-form-field>
          <mat-label>producer</mat-label>
          <input matInput formControlName="producer">
        </mat-form-field>

        <mat-form-field>
          <mat-label>product serial number</mat-label>
          <input matInput formControlName="productSerialNumber">
        </mat-form-field>

        <div class="row">
          <mat-form-field>
            <mat-label>date obtained</mat-label>
            <input matInput [matDatepicker]="dateObtaiedPicker"
                   formControlName="dateObtained">
            <mat-datepicker-toggle matSuffix [for]="dateObtaiedPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateObtaiedPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>market value in €</mat-label>
            <input matInput type="number" formControlName="marketValue">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field fxFlex="30">
            <mat-label>status</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let statusOption of statusOptions" [value]="statusOption">
                {{statusOption}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="70">
            <mat-label>next available date</mat-label>
            <input matInput [matDatepicker]="nextAvailableDatePicker"
                   formControlName="nextAvailableDate">
            <mat-datepicker-toggle matSuffix [for]="nextAvailableDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #nextAvailableDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="row">
          <p>Image URLs:</p>
          <!-- without the type='button', the form will automatically submit when this button is clicked! -->
          <button type="button" *ngIf="editable()" mat-icon-button (click)="onAddImageUrl()">
            <mat-icon color="primary">add</mat-icon>
          </button>
        </div>

        <ng-container *ngIf="artworkForm.get('imageUrls')">
          <div class="row" fxLayoutAlign="flex-end"
               *ngFor="let urlCtrl of getImageUrlCtrls(); index as i">
          <mat-form-field>
            <mat-label>image {{i + 1}} URL</mat-label>
            <input matInput [formControl]="urlCtrl">
          </mat-form-field>

          <button type="button" *ngIf="editable()"
                  mat-icon-button
                  (click)="onDeleteImageUrl(i)">
            <mat-icon color="warn">delete_outline</mat-icon>
          </button>
          </div>
        </ng-container>

        <mat-form-field>
          <mat-label>comment</mat-label>
          <textarea matInput placeholder="administrative comment of the artwork"
                    formControlName="comment"></textarea>
        </mat-form-field>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ buttons ~~~~~~~~~~~~~~~~~~~~~~~  -->
        <div class="row" fxLayoutAlign="flex-end">
          <ng-container *ngIf="isEditing()">
            <button mat-button (click)="onCancel()">
              <mat-icon color="accent">cancel</mat-icon> Cancel
            </button>
            <button mat-button (click)="onSubmit()">
              <mat-icon color="primary">check_circle</mat-icon> Submit
            </button>
          </ng-container>
<!--          <ng-container *ngIf="useCase === itemUsecase.lending">-->
<!--            <button mat-icon-button><mat-icon color="primary">send</mat-icon></button>-->
<!--          </ng-container>-->
        </div>
      </form>
    </div>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~ admin fields ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div></div>

    <!-- ~~~~~~~~~~~~~~~~ buttons for edit and delete ~~~~~~~~~~~~~~~~~ -->
    <div>
      <ng-container *ngIf="usecase === detailUsecase.adminRead">
        <button mat-icon-button (click)="onEdit()">
          <mat-icon color="accent">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </ng-container>
    </div>

    <!-- ~~~~~~~~~~~~~~~~~~~~~ lending history ~~~~~~~~~~~~~~~~~~~~~~ -->
    <div *ngIf="usecase === detailUsecase.adminRead || usecase === detailUsecase.adminUpdate"
         class="detailTextBlock">
      <ng-container *ngIf="artwork.lendings; else noLendingHistory" >
        <p>Lending history: </p>
        <table mat-table [dataSource]="artwork.lendings"
               class="mat-elevation-z8">
          <!-- lenderId Column -->
          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef> User ID </th>
            <td mat-cell *matCellDef="let lending"> {{lending.userId}} </td>
          </ng-container>

          <!-- lendingStatus Column -->
          <ng-container matColumnDef="lendingStatus">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let lending"> {{lending.lendingStatus}} </td>
          </ng-container>

          <!-- startDate Column -->
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Start date </th>
            <td mat-cell *matCellDef="let lending"> {{lending.startDate | date: "yyyy-MM-dd"}} </td>
          </ng-container>

          <!-- endDate Column -->
          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End date </th>
            <td mat-cell *matCellDef="let lending"> {{lending.endDate | date: "yyyy-MM-dd"}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="lendingColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: lendingColumns;"></tr>
        </table>
      </ng-container>
      <ng-template #noLendingHistory>This artwork has no lending history yet. </ng-template>
    </div>
  </div>
</div>
