<div fxLayout="column">
  <section>
    filter form
  </section>


  <section>
<!--    <mat-list fxFlex fxLayout>-->
<!--        <mat-list-item >-->
    <div fxLayout="row wrap"
         fxLayoutGap="20px"
         fxLayoutAlign="flex-start">
      <app-artwork-item
        *ngFor="let artworkEl of artworkMetas; let i = index"
        [artwork]="artworkEl"
        [index]="i"
        [useCase]="itemUsecase.admin"></app-artwork-item>
    </div>
<!--        </mat-list-item>-->
<!--    </mat-list>-->
  </section>
</div>
