<div fxLayout="column">
  <section>
    filter form
  </section>


  <section>
<!--    <mat-list fxFlex fxLayout>-->
<!--        <mat-list-item >-->
    <div fxFlex fxLayout fxLayoutGap="10px">
    <mat-card
      class="artwork-card"
      *ngFor="let artwork of artworkMetas">
      <mat-card-header>
        <mat-card-title>{{artwork.title}}</mat-card-title>
        <mat-card-subtitle>{{artwork.artist}}</mat-card-subtitle>
      </mat-card-header>

      <div class="image-container">
      <img mat-card-image
           src="{{artwork.imageUrls ? artwork.imageUrls[0] : null}}"
           alt="Photo of {{artwork.title}}">
      </div>
      <mat-card-content>
        <p>{{artwork.description}}</p>
      </mat-card-content>
    </mat-card>
    </div>
<!--        </mat-list-item>-->
<!--    </mat-list>-->
  </section>
</div>
