<mat-card fxFlex="0 1 auto"
          class="artwork-card">
  <mat-card-header (click)="onItemView()">
    <mat-card-title>{{artwork.title}}</mat-card-title>
    <mat-card-subtitle>{{artwork.artist}}</mat-card-subtitle>
  </mat-card-header>

  <div class="image-container clickable">
    <img mat-card-image
         src="{{artwork.imageUrls ? artwork.imageUrls[0] : null}}"
         alt="Photo of {{artwork.title}}"
         (click)="onItemView()">
  </div>
  <mat-card-content>
    <div class="text-scrollable-y">
      {{artwork.description}}
    </div>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="flex-end">
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ng-container *ngIf="useCase === itemUsecase.admin">
        <button mat-icon-button (click)="onItemEdit()">
          <mat-icon color="accent">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="useCase === itemUsecase.lending">
        <button mat-icon-button><mat-icon color="primary">send</mat-icon></button>
      </ng-container>
    </div>
  </mat-card-actions>
</mat-card>
